* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  padding:20px 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: #333e52;
  background-color: #ffffff;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset
}

html {
  scroll-behavior: smooth;
}

button,
a,
div[class*="btn"],
.theme-toggle,
.greetings__link,
.project-link,
.submit-btn {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

/* Для всех интерактивных элементов (если лень перечислять) */
* {
    -webkit-tap-highlight-color: transparent;
}

.about-info__text,
.project-desc,
.feedback .section-title,
input,
textarea {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}